<div style="height: 60px"></div>
<div style="text-align: center; opacity: 0.7;">
    <small>
        <a href="/index.html"><img src="/assets/branding/logo-horizontal.png" style="height: 32px;"></a>
        <br>&copy; 2024-2026 poisonaivi, CC BY-NC-ND. handed-coded by a human with love.
        <br><a href="https://github.com/poisonaivi/poi.sn" target="_blank"><img class="icon inline-left" src="/assets/icons/code.png">source code</a> • <a href="mailto:poison@aivi.party"><img class="icon inline-left" src="/assets/icons/mail.png">poison@aivi.party</a>
    </small>
    <br><hr style="width: 700px">
    <table style="text-align: left; width: 500px; margin: 0 auto;">
        <tr>
            <td style="width: 35%;">
                <small>
                    <img class="icon inline-left" src="/assets/icons/info.png">info
                    <br><a href="/contact.html">contact</a>
                    <br><a href="/commissions.html">commission info</a>
                    <br><a href="/tos.html" target="_blank">terms of service</a>
                    <br><a href="/poison-aivi-party-904DFA58.txt" target="_blank">PGP public key</a>
                </small>
            </td>
            <td style="width: 40%;">
                <small>
                    <img class="icon inline-left" src="/assets/icons/toolbox.png">resources
                    <br><a href="/assets/index.html">asset library</a>
                    <br><a href="https://javascript.aivi.party/" target="_blank">Enable JavaScript!<img class="icon inline-right" src="/assets/icons/link.png"></a>
                    <br><a href="/robots.txt" target="_blank">robots.txt</a>
                    <br><a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">CC BY-NC-ND license<img class="icon inline-right" src="/assets/icons/link.png"></a>
                </small>
            </td>
            <td style="width: 25%;">
                <small>
                    <img class="icon inline-left" src="/assets/icons/menu-h.png">misc. pages
                    <br><a href="/chat.html">chatroom</a>
                    <br><a href="/guestbook.html">guestbook</a>
                    <br><a href="/layout/changelog.html">changelog</a>
                    <br><a href="/noods.html">noods.. OwO</a>
                </small>
            </td>
        </tr>
    </table>
    <br>
    <small><a href="https://ko-fi.com/poisonaivi" target="_blank"><img class="icon inline-left" src="/assets/branding/kofi.png">buy me a coffee</a> • send me BTC: bc1qxkz99a77cwt8am04rn277egmvxddpv8crhj87e</small>
</div>
<div style="height: 100px"></div>